# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Logs ===
logs/
*.log
logs\combined.log

# === Runtime data ===
pids
*.pid
*.seed
*.pid.lock

# === Environment files ===
.env
.env.*
!.env.example   # فقط نمونهٔ env رو نگه داریم

# === Build / Dist ===
dist/
build/
.tmp/
coverage/

# === IDE / Editor ===
.vscode/
.idea/
*.swp

# === OS files ===
.DS_Store
Thumbs.db

# === Package managers ===
package-lock.json
pnpm-lock.yaml
yarn.lock
