<%- include('../share/superheader') -%>

    <%- include('../component/mainnav') -%>

        <% let template="lichess" %>
            <div class="row d-flex justify-content-center mt-3">
                <div class="wg-box w-75 dir-ltr p-4">
                    <%- content.content%>
                </div>
            </div>


            <%- include('../share/superfooter') -%>