<%- include('../share/superheader') -%>
<%- include('../component/mainnav') -%>
<div>
  <style>
    @font-face {
      font-family: Vazir;
      src: url('./public/fonts/vazir/eot/Vazir.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/vazir/woff2/Vazir.woff2') format('woff2'),
        url('./public/fonts/vazir/woff/Vazir.woff') format('woff'),
        url('/vazir/ttf/Vazir.ttf') format('truetype'),
        url('../vazir/ttf/Vazir1.ttf') format('truetype');
    }
  </style>

</div>
<p>
  سلام خوبی
</p>
<p style="font-family: Vazir;">
  سلام خوبی
</p>

<script>

</script>
<%- include('../share/superfooter') -%>