<a href="/admin" class="d-block mx-2 my-3 mt-1 pb-3 border-bottom border-dark">داشبورد </a>
<a href="/admin/puzzlesUpload" class="d-block  mx-2 my-3 pb-3 border-bottom border-dark">بار گذاری مسایل</a>
<a href="/admin/createSwissTournament" class="d-block  mx-2 my-3 pb-3 border-bottom border-dark">ایجاد مسابقه سوییسی</a>
<a href="/admin/createStaticPage" class="d-block  mx-2 my-3 pb-3 border-bottom border-dark">
    ایجاد صفحه های استاتیک
</a>
<a href="/admin/staticPageList" class="d-block  mx-2 my-3 pb-3 border-bottom border-dark">
    لیست صفحات استاتیک
</a>