<div class="wg-box">
    <!-- <div class="wg-title h3">

    </div>
    <div class="wg-inner">
        <div id="">

        </div>
    </div>
    <div class="wg-footer text-center">

    </div> -->
</div>
<script>
    $(document).ready(() => {
            // socket.emit('swissStandings', {
            //     id: '<%-tournament._id%>'
            // }, (ans) => {
            //     console.log(ans);
            //     standings.setPlayers(ans);
            // })
        })
        // let standings = {};
        // standings.setPlayers = (players) => {
        //     let table = `<table class="table"> <thead><tr><th scope="col">#</th><th scope="col">Name</th><th scope="col">Points</th></tr></thead><tbody>`;
        //     let i = 0;
        //     if ('round' in players) {
        //         if (players.round == 0) {
        //             players.players.forEach(p => {
        //                 table += `<tr><th scope="row">${++i}</th><td  scope="col">${p}</td><td>0</td  scope="col"></tr>`
        //             });

    //         }
    //     }
    //     table += '</tbody></table>';
    //     document.getElementById('tourResult').innerHTML = table;
    // }
</script>