<%- include('../../share/superheader')  -%> 
<%- include('../../component/mainnav')  -%> 
<div class="container">
    <div class="row justify-content-center">
        <div class="text-right col-lg-7">
            <p class="mt-4 text-danger h5" >
                <%= note %> 
            </p>
        </div>
    </div>
</div> 

<%- include('../../share/superfooter')  -%> 
