<%- include('../../share/superheader') -%>
    <%-
include('../../component/mainnav') -%>

        <div class="container-fluid mt-4">
            <style>
                .wg-inner {
                    min-height: 600px;
                }
            </style>
            <div class="row">
                <div class="text-right col-md-4 col-lg-3">
                    <div class="wg-box">
                        <div class="wg-title h4">منو</div>
                        <div class="wg-inner h6">
                            <%-
include('../../component/adminMenu') -%>
                        </div>
                        <div class="wg-footer">

                        </div>
                    </div>

                </div>
                <div class="text-right col-md-8 col-lg-9">
                    <div class="wg-box">
                        <div class="wg-title h4">داشبورد</div>
                        <div class="wg-inner">

                        </div>
                        <div class="wg-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../../share/superfooter') -%>